doctype html
html
head
        title test
body
        h1 Basic Set of Sensors in Database
        ul
                each value, key in data
                        each values, keys in value
                                li= values
