doctype html
html
head
  title dashboard
body
  h1 all of the tables from the #{database} database
  ul
    each array in data
      each result in array
        each table in result
          li
            a(href='retrieveTable/sensors-' + table) #{table}
