doctype html
html(lang='en' ng-app='rufAngular' ng-controller='dataCtrl as ctrl')

  head

    include headScripts.pug

    title RUF sensors

  body

    include nav.pug

    include data.pug

    include scripts.pug
