doctype html
html(lang='en' ng-app='rufAngular')

  head

    include headScripts.pug

    title RUF sensors

  body(ng-controller='angCtrl')

    include nav.pug

    include data.pug

    include scripts.pug
