.container
  div.statsRow.row
    div.col.col-sm-3
      h3.subHeading Statistics:
      div.statDisplay Std Dev: {{ ctrl.stats.stDev }}
      div.statDisplay Mean: {{ ctrl.stats.mean }}
      div.statDisplay Max: {{ ctrl.stats.max }}
      div.statDisplay Min: {{ ctrl.stats.min }}


    div.col.col-sm-9

      h3.subHeading Data:
      button(ng-click="ctrl.previousDay()" ng-disabled="ctrl.oldStop") Previous Day

      select(ng-options="date.date for date in ctrl.datesAvailable" ng-change="ctrl.changeDay(ctrl.currentDate)" ng-model="(ctrl.currentDate)")

      button(ng-click="ctrl.nextDay()" ng-disabled="ctrl.newStop") Next Day

      div.dataDisplay.row
        div.col.col-sm-12

          ul.list-group
            li.list-group-item ID:     Date/Time:   Reading:
            li.list-group-item(ng-repeat="item in ctrl.dataPoints") {{ item.id }} - {{ item.datetime | date : "medium" : 'UTC' }} - {{ item.reading }}
