.container
  .jumbotron
    h1 database
    ul.nav.nav-tabs
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false") Choose Sensor
          div.dropdown-menu
            a(ng-repeat='sensor in ctrl.sensors').dropdown-item {{ sensor }}
              
