.container
  .jumbotron

    h1 {{ ctrl.currentSensor }}


    ul.nav.nav-tabs

      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false") Choose Sensor
          div.dropdown-menu
            a(ng-repeat='sensor in ctrl.sensors').dropdown-item
              div(ng-click='ctrl.fetchNewSensor(sensor)') {{ sensor }}


      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false") Choose Database
          div.dropdown-menu
            a(ng-repeat='database in ctrl.databases').dropdown-item
              div(ng-click='ctrl.changeDb(database)') {{ database }}


    div Start Date: 
      select(ng-model="ctrl.startDate")
        option(ng-repeat="date in ctrl.datesAvailable") {{ date | date : "yyyy-MM-dd" }}
 
    div End Date: 
      select(ng-model="ctrl.endDate")
        option(ng-repeat="date in ctrl.datesAvailable") {{ date | date : "yyyy-MM-dd" }}

    button(ng-click="ctrl.fetchNewDates(ctrl.startDate, ctrl.endDate)") Run Dates

    p {{ ctrl.currentSensor }} has data from {{ ctrl.dateOldest | date : "yyyy-MM-dd" }} through {{ ctrl.dateNewest | date : "yyyy-MM-dd" }}
    p you are seeing data from {{ ctrl.dataStart }} through {{ ctrl.dataEnd }}
