extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1= title
      .row
        form.form-horizontal(action="", method="delete", role="form")
          .form-group
            label.col-xs-10.col-sm-2.control-label(for="tankId") Tank Id
            .col-xs-12.col-sm-10
              input#tankId.form-control(name="tankId")
          button.btn.btn-default.pull-right Delete Tank
