doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  body
    .container
      nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='/') RCG
        .dropdown
          button#reportingDrop.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Reporting
            span.caret
          ul.dropdown-menu(aria-labelledby='reportingDrop')
            li.dropItem
              a(href='/reporting/fish') Fish Tanks
            li.dropItem
              a(href='/reporting/biofilter') Biofilters
            li.dropItem
              a(href='/reporting/reservoir') Plant Reservoirs
        .dropdown
          button#controlDrop.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Control
            span.caret
          ul.dropdown-menu(aria-labelledby='controlDrop')
            li.dropItem
              a(href='/control/single') Single Component
            li.dropItem
              a(href='/control/process') Process Control
        .dropdown
          button#logsDrop.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Logs
            span.caret
          ul.dropdown-menu(aria-labelledby='logsDrop')
            li.dropItem
              a(href='/logs/system') System Logs
            li.dropItem
              a(href='/logs/user') User Logs
        .dropdown
          button#settingsDrop.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Settings
            span.caret
          ul.dropdown-menu(aria-labelledby='settingsDrop')
            li.dropItem
              a(href='/settings/control') Control Settings
            li.dropItem
              a(href='/settings/reporting') Reporting Settings
    .container
      block content
    .container
      footer
        .row
          .col-xs-12
            small RCG Aquaponics
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
