doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Rogers Community Garden 
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.icon.bar
              span.icon.bar
              span.icon.bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/control/') Control 
          ul.nav.navbar-nav
            li
              a(href='/reporting/') Reporting
          ul.nav.navbar-nav
            li
              a(href='/logs/') Logs
          ul.nav.navbar-nav
            li
              a(href='/settings/') Settings

  .container
    block content
    footer
      .row
        .col-xs-12
          small RCG Aquaponics

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
