doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  body
    .container
      nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='/') RCG
        #navbarNavDropdown.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a#controlDrop.nav-link.dropdown-toggle(href='/control') Control
              ul.dropdown-menu(aria-labelledby='controlDrop')
                li
                  a.dropdown-item(href='/control') Control
                li
                  a.dropdown-item(href='/control/single') Single 
                li
                  a.dropdown-item(href='/control/process') Process
    .container
      block content
    .container
      footer
        .row
          .col-xs-12
            small RCG Aquaponics
      script(src='https://code.jquery.com/jquery-3.2.1.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
