mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var monthNames = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" ];
  -var d = date.getDate();
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var h = date.getHours();
  -var mi = date.getMinutes();
  -var s = date.getSeconds(); 
  -var output = m + '/' + d + '/' + y + ' - ' + h + ':' + mi + ":" + s;
  =output
